<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> :: Youtube :: </title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="style.css">


</head>

<body>
<div class="navbar">
  <a href="#home"><img src="img/home.png" width="55" height="51" /></a>
  <a href="#usa"><img src="img/usa.jpg" width="75" height="51" /></a>
  <a href="#canada"><img src="img/canada.png" width="75" height="51" /></a>
  <div class="dropdown">
    <button class="dropbtn"><img src="img/german.png" width="75" height="51" />
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Choose the best Youtube channels in German !</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Category 1</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="column">
          <h3>Category 2</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="column">
          <h3>Category 3</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div> 
  <div class="dropdown">
    <button class="dropbtn"><img src="img/france.jpg" width="75" height="50" /> 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <div class="header">
        <h2>Choose the best Youtube channels in France !</h2>
      </div>   
      <div class="row">
        <div class="column">
          <h3>Category 1</h3>
          <a href="#">the most 5 Channel have more Video</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="column">
          <h3>Category 2</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
        <div class="column">
          <h3>Category 3</h3>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
    </div>
  </div>
  
  
</div>

<!--
<div style="padding:16px">
  <h3>Responsive Mega Menu (Full-width dropdown in navbar)</h3>
  <p>Hover over the "Dropdown" link to see the mega menu.</p>
  <p>Resize the browser window to see the responsive effect.</p>
</div>
-->
<div class="clearfix">
    <div class="img-position">
    <img class="img2" src="img/youtube_logo.png" alt="Pineapple" width="200" height="95" />
    </div>
<h2 class="h2">YouTube Filter :</h2>
<p>
Finally, you can select the best channels easily, in different countries.<br />
just select the country which you want , and choose of the options . 
</p> 

<br />
<br />

<table width="1200" height="300px" border="0" class="table">
  <tr>
    <td width="25%" align="left">
    		Best 10 chanels <br />
			in all Countries                                    
    </td>
    
    <td width="25%" align="left">
    		Best 10 chanels <br />
			in all Countries 
    </td>
    
<td width="25%" align="left">
    		Best 10 chanels <br />
			in all Countries 
    </td>
    
 <td width="25%" align="left">
    		Best 10 chanels <br />
			in all Countries 
    </td>   


  </tr>
</table>

 
</div>



</body>
</html>
